{% extends 'main.html' %} 
{% block style %} 
{% load static %}
<style>
  /* PAGE CSS */
</style>
<link rel="stylesheet" href="{% static 'main/css/a_about.css' %}?{% now "U" %}">
{% endblock %} 
{% block title %}Năng lực hoạt động xây dựng{% endblock %} 
{% block content %} 
{% load humanize %}
{% load static %}
<div class="container px-1">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);margin: 12px 0;" aria-label="breadcrumb" >
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main:homepage'%}">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Giới thiệu</li>
            <li class="breadcrumb-item active" aria-current="page">Chứng chỉ năng lực hoạt động xây dựng</li>
        </ol>
    </nav>
    <div class="row">
        <div class="about-menu-wrapper col-12 col-lg-3 mt-3 container-fluid">
            <div class="about-menu">
                <div class="menu-title">
                    GIỚI THIỆU
                </div>
                <div class="menu-list">
                    <a href="{% url 'main:about' %}">Giới thiệu chung</a>
                    <a href="{% url 'main:about' %}">Nhân sự công ty</a>
                    <a href="{% url 'main:dkkd' %}">Chứng nhận ĐKKD</a>
                    <a href="#">Chứng chỉ Năng lực Hoạt động XD</a>
                </div>
            </div>
        </div>
        <div class="about mt-3 col-12 col-lg-9">
            <div class="title mb-1">
                <b style="color: #0E68B6;font-size: 16px;">CHỨNG CHỈ NĂNG LỰC HOẠT ĐỘNG XÂY DỰNG</b>
            </div>
            <div class="about-content mt-3 mb-3 ps-4" style="border: solid #CCCCCC 1px;">
                <img src="{% static 'main/img/phapnhan/hdxd.png' %}" alt="" width="95%">
            </div>
            <div class="about-content mb-5" style="border: solid #CCCCCC 1px;">
                <img src="{% static 'main/img/phapnhan/hdxd_2.jpg' %}" alt="" width="96%">
            </div>

        </div>

        
    </div>
    
</div>

{% endblock content %} {% block js %}
<script></script>
{% endblock %}
