{% extends 'main.html' %} 
{% block style %} 
{% load static %}
<style>
  /* PAGE CSS */
</style>
<link rel="stylesheet" href="{% static 'main/css/a_about.css' %}?{% now "U" %}">
{% endblock %} 
{% block title %}Phòng thí nghiệm LAS-XD 799{% endblock %} 
{% block content %} 
{% load humanize %}
{% load static %}
<div class="container px-5">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);margin: 12px 0;" aria-label="breadcrumb" >
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main:homepage'%}">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Giới thiệu</li>
            <li class="breadcrumb-item active" aria-current="page">Phòng thí nghiệm và kiểm định xây dựng LAS-XD 799</li>
        </ol>
    </nav>
    <div class="row">
        <div class="about-menu-wrapper col-12 col-lg-3 mt-3 container-fluid">
            <div class="about-menu">
                <div class="menu-title">
                    GIỚI THIỆU
                </div>
                <div class="menu-list">
                    <a href="{% url 'main:homepage'%}">Giới thiệu chung</a>
                    <a href="{% url 'main:nhansu' %}">Nhân sự</a>
                    <a href="{% url 'main:dkkd' %}">Chứng nhận ĐKKD</a>
                    <a href="{% url 'main:hdxd' %}">Chứng chỉ Năng lực Hoạt động XD</a>
                    <a href="#">Phòng thí nghiệm LAS-XD 799</a>
                    <a href="{% url 'main:thietbi' %}">Trang thiết bị máy móc</a>
                </div>
            </div>
        </div>
        <div class="about mt-3 col-12 col-lg-9">
            <div class="title mb-1">
                <b style="color: #0E68B6;font-size: 16px;">PHÒNG THÍ NGHIỆM VÀ KIỂM ĐỊNH XÂY DỰNG LAS-XD 799</b>
            </div>
            <div class="about-content mb-5">
                <img src="{% static 'main/img/phapnhan/1.jpg' %}" alt="" width="100%">
                <img src="{% static 'main/img/phapnhan/2.jpg' %}" alt="" width="100%">
                <img src="{% static 'main/img/phapnhan/3.jpg' %}" alt="" width="100%">
                <img src="{% static 'main/img/phapnhan/4.jpg' %}" alt="" width="100%">
                <img src="{% static 'main/img/phapnhan/5.jpg' %}" alt="" width="100%">
                <img src="{% static 'main/img/phapnhan/6.jpg' %}" alt="" width="100%">
                <img src="{% static 'main/img/phapnhan/7.jpg' %}" alt="" width="100%">
                <img src="{% static 'main/img/phapnhan/8.jpg' %}" alt="" width="100%">
            </div>

        </div>

        
    </div>
    
</div>

{% endblock content %} {% block js %}
<script></script>
{% endblock %}
