{% extends 'main.html' %} 
{% block style %} 
{% load static %}
<style>
  /* PAGE CSS */
</style>
<link rel="stylesheet" href="{% static 'main/css/a_about.css' %}?{% now "U" %}">
{% endblock %} 
{% block title %}Trang thiết bị máy móc{% endblock %} 
{% block content %} 
{% load humanize %}
{% load static %}
<div class="container px-1">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);margin: 12px 0;" aria-label="breadcrumb" >
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main:homepage'%}">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Phòng thí nghiệm LAS-XD 799</li>
            <li class="breadcrumb-item active" aria-current="page">Trang thiết bị máy móc</li>
        </ol>
    </nav>
    <div class="row">
        <div class="about-menu-wrapper col-12 col-lg-3 mt-3 container-fluid">
            <div class="about-menu">
                <div class="menu-title">
                    PHÒNG THÍ NGHIỆM LAS-XD 799
                </div>
                <div class="menu-list">
                    <a href="{% url 'main:lasxd'%}">Giấy chứng nhận đủ điều kiện</a>
                    <!-- <a href="#">Năng lực thí nghiệm chuyên ngành</a> -->
                    <a href="{% url 'main:phepthu' %}">Danh mục phép thử</a>
                    <a href="#">Trang thiết bị máy móc</a>
                    <a href="{% url 'main:quyetdinh' %}">Quyết định liên quan</a>
                </div>
            </div>
        </div>
        <div class="about mt-3 col-12 col-lg-9">
            <div class="title mb-1">
                <b style="color: #0E68B6;font-size: 16px;">
                    TRANG THIẾT BỊ MÁY MÓC THÍ NGHIỆM
                    {% if user.is_authenticated %}
                    &nbsp;<a href="{% url 'main:thietbimanage' %}" style="text-decoration: none;color: blue;"><i class="fa-regular fa-pen-to-square"></i></a>
                    {% endif %}
                </b>
            </div>
            <div class="about-content mb-5">
                <div class="about-content mb-5">
                    <div class="tb table-responsive mt-3">
                        <table class="table mt-1 table-bordered table-responsive table-striped">
                            <thead class="table-primary">
                                <th>STT</th>
                                <th>Tên thiết bị</th>
                                <th>Nhãn hiệu/Công suất</th>
                                <th>Số lượng</th>
                                <th>Tình trạng hoạt động</th>
                                <th>Ghi chú</th>
                                <th>Chi tiết</th>
                            </thead>
                            <tbody>
                                {% for group,tbs in thietbi.items %}
                                <tr>
                                    <td colspan="7"><b>{{ group }}</b></td>
                                </tr>
                                {% for tb in tbs %}
                                <tr>
                                    <td>{{ tb.STT }}</td>
                                    <td>{{ tb.Ten }}</td>
                                    <td>{{ tb.NhanHieu }}</td>
                                    <td style="text-align:center">{{ tb.SoLuong }}</td>
                                    <td style="text-align:center">{{ tb.TinhTrang }}</td>
                                    <td>{{ tb.GhiChu|default_if_none:'' }}</td>
                                    <td><a href="{% url 'main:thietbidetail' tb.id %}" style="color: blue;">Xem</a></td>
                                </tr>
                                {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        
    </div>
    
</div>

{% endblock content %} {% block js %}
<script></script>
{% endblock %}
