{% extends 'main.html' %} 
{% block style %} 
{% load static %}
<style>
  /* PAGE CSS */

@media (max-width: 991px) {
    .project-image img{
        width: 100%;
    }
}
/* Container và Item */
.custom-acc-item {
    margin-bottom: 15px;
}



/* Icon xoay */
.custom-acc-trigger i {
    transition: transform 0.3s ease;
}

/* Khi MỞ (Active): Icon quay xuống hoặc lên tùy bạn */
.custom-acc-item.is-active .custom-acc-trigger i {
    transform: rotate(180deg);
}

/* Nội dung Body */
.custom-acc-body {
    display: none;
}

/* TRẠNG THÁI HIỂN THỊ: Khi có class is-active */
.custom-acc-item.is-active .custom-acc-body {
    display: block;
}

</style>

{% endblock %} 
{% block title %}Dự án{% endblock %} 
{% block content %} 
{% load humanize %}
{% load static %}
<div class="container px-1 px-md-5">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);margin: 12px 0;" aria-label="breadcrumb" >
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Công trình tiêu biểu</li>
        </ol>
    </nav>
    <div class="custom-acc-container">
        <div class="custom-acc-item is-active">
            <span class="page-head custom-acc-trigger">
                <a href="" style="text-decoration: none;color:black">
                    CÁC DỰ ÁN ĐÃ THAM GIA
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><i class="fa-solid fa-chevron-down"></i></b>
                </a>
            </span>  
            {% if user.is_authenticated %}
            <p class="mt-3 mb-1">
                Click vào đây để chỉnh sửa danh sách dự án &nbsp;<a href="{% url 'main:projectmanage' %}" style="color:blue;text-decoration: none;"><i class="fa-solid fa-pen-to-square"></i></a>.
            </p>
            {% endif %}
            <div class="project table-responsive mt-3 custom-acc-body">
                <table class="table mt-3 table-bordered table-responsive">
                    <thead class="table-primary">
                        <th>STT</th>
                        <th>TÊN DỰ ÁN</th>
                        <th>CHỦ ĐẦU TƯ</th>
                        <th style="min-width: 150px;">CÔNG VIỆC THỰC HIỆN</th>
                        <th>NGUỒN VỐN</th>
                        <th>TIẾN ĐỘ</th>
                    </thead>
                    <tbody>
                        {% for group,projects in groups.items %}
                        <tr>
                            <td colspan="6"><b>{{ group }}</b></td>
                        </tr>
                        {% for project in projects %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ project.Name }}</td>
                            <td>{{ project.Investor }}</td>
                            <td>{{ project.Job }}</td>
                            <td>{{ project.FundBy }}</td>
                            <td>{{ project.Progress }}</td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="project-image mt-3 mb-5 custom-acc-item is-active">
            <span class="page-head custom-acc-trigger">
                <a href="" style="text-decoration: none;color:black">HÌNH ẢNH THÍ NGHIỆM KIỂM ĐỊNH&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-chevron-down"></i></a>
            </span>  
            <div class="image-container custom-acc-body">
                <div class="image-section text-center mt-3 mb-3 row px-3 card-group ">
                    <div class="card col-12 col-lg-8 mb-1" style="border: none;">
                        <img src="{% static 'main\img\project\1.png' %}"  class="card-img-top w-100 h-100" style="object-fit: cover;">
                        <p class="mt-1 card-text">Khoan kiểm tra chất lượng bê tông nhựa Dự án đường cao tốc Hạ Long – Vân Đồn</p>
                    </div>
                    <div class="card col-12 col-lg-4 mb-1" style="border: none;">
                        <img src="{% static 'main\img\project\2.png' %}"  class="card-img-top w-100 h-100" style="object-fit: cover;">
                        <p class="mt-1 card-text">Kiểm tra cường độ bê tông bằng phương pháp bắn súng bật nảy Dự án đường cao tốc Hạ Long – Vân Đồn</p>
                    </div>
                    <div class="card col-12 col-lg-4 mb-1" style="border: none;">
                        <img src="{% static 'main\img\project\3.png' %}" height="400px" class="card-img-top w-100 h-100" style="object-fit: cover;">
                        <p class="mt-1 card-text">Kiểm tra độ đồng nhất của bê tông bằng phương pháp siêu âm Dự án đường cao tốc Hạ Long – Vân Đồn</p>
                    </div>
                </div>
                <div class="image-section text-center mb-3 row px-3 card-group">
                    <div class="card col-12 col-lg-8 mb-3" style="border: none;">
                        <img src="{% static 'main\img\project\4.png' %}"  class="card-img-top w-100 h-100" style="object-fit: cover;">
                        <p class="mt-1 card-text">Xác định cường độ kết cấu mặt đường bằng thiết bị đo động FWD Dự án Phát triển giao thông xanh Thành phố Hồ Chí Minh</p>
                    </div>
                    <div class="card col-12 col-lg-4 mb-3" style="border: none;">
                        <img src="{% static 'main\img\project\5.png' %}"  class="card-img-top w-100 h-100" style="object-fit: cover;">
                        <p class="mt-1 card-text">Xác định cường độ kết cấu mặt đường bằng thiết bị đo động FWD Dự án Phát triển giao thông xanh Thành phố Hồ Chí Minh</p>
                    </div>
                    <div class="card col-12 col-lg-4 mb-3" style="border: none;">
                        <img src="{% static 'main\img\project\6.png' %}" height="400px" class="card-img-top w-100 h-100" style="object-fit: cover;">
                        <p class="mt-1 card-text">Kiểm tra độ chặt lớp nền đường bằng phương pháp dao vòng Dự án đường trục phía Nam tỉnh Hà Tây</p>
                    </div>
                </div>
                <div class="image-section text-center mb-3 row px-3 card-group">
                    <div class="card col-12 col-lg-8 mb-3" style="border: none;">
                        <img src="{% static 'main\img\project\7.png' %}"  class="card-img-top w-100 h-100" style="object-fit: cover;">
                        <p class="mt-1 card-text">Kiểm tra độ chặt lớp móng đường bằng phương pháp rót cát Dự án đường trục phía Nam tỉnh Hà Tây</p>
                    </div>
                    <div class="card col-12 col-lg-4 mb-3" style="border: none;">
                        <img src="{% static 'main\img\project\8.png' %}"  class="card-img-top w-100 h-100" style="object-fit: cover;">
                        <p class="mt-1 card-text">Đo võng tĩnh Cầu vượt đường sắt Dự án đường trục phía Nam tỉnh Hà Tây</p>
                    </div>
                    <div class="card col-12 col-lg-4 mb-3" style="border: none;">
                        <img src="{% static 'main\img\project\9.png' %}" height="400px" class="card-img-top w-100 h-100" style="object-fit: cover;">
                        <p class="mt-1 card-text">Đo võng tĩnh Cầu Hòa Bình Dự án đường trục phía Nam tỉnh Hà Tây</p>
                    </div>
                </div>
                <div class="image-section text-center mb-3 row px-3 card-group">
                    <div class="card col-12 col-lg-8 mb-3" style="border: none;">
                        <img src="{% static 'main\img\project\10.png' %}"  class="card-img-top w-100 h-100" style="object-fit: cover;">
                        <p class="mt-1 card-text">Kiểm tra độ chặt lớp móng đường bằng phương pháp rót cát Dự án đường trục phía Nam tỉnh Hà Tây</p>
                    </div>
                    <div class="card col-12 col-lg-4 mb-3" style="border: none;">
                        <img src="{% static 'main\img\project\11.png' %}"  class="card-img-top w-100 h-100" style="object-fit: cover;">
                        <p class="mt-1 card-text">Đo võng tĩnh Cầu vượt đường sắt Dự án đường trục phía Nam tỉnh Hà Tây</p>
                    </div>
                    <div class="card col-12 col-lg-4 mb-3" style="border: none;">
                        <img src="{% static 'main\img\project\12.png' %}" height="400px" class="card-img-top w-100 h-100" style="object-fit: cover;">
                        <p class="mt-1 card-text">Đo võng tĩnh Cầu Hòa Bình Dự án đường trục phía Nam tỉnh Hà Tây</p>
                    </div>
                </div>
                <div class="image-section text-center mb-3 row px-3 card-group">
                    <div class="card col-12 col-lg-8 mb-3" style="border: none;">
                        <img src="{% static 'main\img\project\13.png' %}"  class="card-img-top w-100 h-100" style="object-fit: cover;">
                        <p class="mt-1 card-text">Thí nghiệm kiểm tra chất lượng sơn kẻ đường Dự án Quản lý tài sản đường bộ Việt Nam (VRAMP) sử dụng vốn ngân hàng thế giới</p>
                    </div>
                    <div class="card col-12 col-lg-4 mb-3" style="border: none;">
                        <img src="{% static 'main\img\project\14.png' %}"  class="card-img-top w-100 h-100" style="object-fit: cover;">
                        <p class="mt-1 card-text">Thí nghiệm kiểm tra chất lượng sơn kẻ đường Dự án Quản lý tài sản đường bộ Việt Nam (VRAMP) sử dụng vốn ngân hàng thế giới</p>
                    </div>
                    <div class="card col-12 col-lg-4 mb-3" style="border: none;">
                        <img src="{% static 'main\img\project\15.png' %}" height="400px" class="card-img-top w-100 h-100" style="object-fit: cover;">
                        <p class="mt-1 card-text">Thí nghiệm kiểm tra chất lượng biển báo hiệu Dự án Quản lý tài sản đường bộ Việt Nam (VRAMP) sử dụng vốn ngân hàng thế giới</p>
                    </div>
                </div>
                <div class="image-section text-center mb-3 row px-3 card-group">
                    <div class="card col-12 col-lg-8 mb-3" style="border: none;">
                        <img src="{% static 'main\img\project\16.png' %}"  class="card-img-top w-100 h-100" style="object-fit: cover;">
                        <p class="mt-1 card-text">Thí nghiệm nén tĩnh thử tải cọc bê tông bằng phương pháp chất tải</p>
                    </div>
                    <div class="card col-12 col-lg-4 mb-3" style="border: none;">
                        <img src="{% static 'main\img\project\18.png' %}"  class="card-img-top w-100 h-100" style="object-fit: cover;">
                        <p class="mt-1 card-text">Thí nghiệm kiểm tra chất lượng cọc bê tông bằng phương pháp siêu âm</p>
                    </div>
                    <div class="card col-12 col-lg-4 mb-3" style="border: none;">
                        <img src="{% static 'main\img\project\19.png' %}" height="400px" class="card-img-top w-100 h-100" style="object-fit: cover;">
                        <p class="mt-1 card-text">Thí nghiệm cọc khoan nhồi bằng phương pháp thử động biến dạng lớn (PDA)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %} {% block js %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const triggers = document.querySelectorAll('.custom-acc-trigger');

    triggers.forEach(trigger => {
        // Lấy phần tử cha (item) và phần body tương ứng
        const item = trigger.closest('.custom-acc-item');
        const body = item.querySelector('.custom-acc-body');


        trigger.addEventListener('click', function(e) {
            e.preventDefault(); // Ngăn thẻ <a> nhảy trang

            if (item.classList.contains('is-active')) {
                // ĐANG MỞ -> ĐÓNG LẠI
                item.classList.remove('is-active');
            } else {
                // ĐANG ĐÓNG -> MỞ RA

                item.classList.add('is-active');
            }
        });
    });
});

</script>
{% endblock %}